@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'IranYekan';
   src: url('./assets/font/IRANYekanRegular.ttf');
   font-display: fallback;
}
@font-face {
   font-family: 'IranYekanNumber';
   src: url('./assets/font/IRANYEKANRegularNumber.ttf');
   font-display: fallback;
}
@font-face {
   font-family: 'IranYekanLight';
   src: url('./assets/font/IRANYekanLight.ttf');
   font-display: fallback;
}
@font-face {
   font-family: 'IranYekanBold';
   src: url('./assets/font/IRANYekanBold.ttf');
   font-display: fallback;
}

body {
   font-family: IranYekanNumber;
}
.customised-select
   .data-\[open\=true\]\:border-default-foreground[data-open='true'] {
   border-color: #d6dde3 !important;
}

.customised-select
   .data-\[focus\=true\]\:border-default-foreground[data-focus='true'] {
   border-color: #d6dde3 !important;
}

.green-radial {
   background: radial-gradient(
     45.87% 45.87% at 39.59% 50%,
     rgba(32, 61, 35, 0.8) 0%,
     rgb(32, 61, 51) 100%
   );
 }
 .transparent-white{
   background: rgba(255, 255, 255, .5);
 }
